Source: hashcash
Section: mail
Priority: optional
Maintainer: Hubert Chan <hubert@uhoreg.ca>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: hashcash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: postage payment scheme for email based on hash calculations
 Hash cash is a payment scheme that uses CPU cycles as the form of payment.
 This can be used as a counter-measure for junk email (spam) by using the hash
 cash token as a proof of payment for each email that you sent.
